<div class="wrapper">

  <form action="answer" method="get" class="text-center">
    <div class="form-group">
      <label for="question">Speak to your coach</label>
      <input type="text" id="question" name="query" class="form-control" placeholder="what time is it?">
    </div>
    <input type="submit" class="btn btn-primary" value="Go on!">
  </form>
</div>
